@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

/* Custom Properties */

:root {
  --header-color: #00ed82;
  --header-font-size: 0.8rem;
  --text-color: hsl(0, 0%, 100%);
}

/* Base Styling Resets */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000;
  color: #fff;
  line-height: 1.7;
  overflow-x: hidden;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  width: 100%;
}

/* Header Styling */

.header {
  background: url(../images/header.jpg) no-repeat center center / cover;
  height: 80vh;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
}

.header .logo {
  width: 270px;
  margin: 20px 0;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 20px 40px;
  z-index: 2;
}

.header nav .login-btn {
  background: none;
  color: var(--text-color);
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
}

.header nav .login-btn:hover {
  color: hsl(0, 0%, 75%);
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4 {
  text-transform: uppercase;
  color: var(--header-color);
  font-size: var(--header-font-size);
}

/* Header Content Styling */

.header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 35px;
}

.header .header-text-1 {
  font-weight: bold;
  font-size: 1.3rem;
}

.header .header-text-2 {
  font-size: 1.2rem;
  margin-top: 20px;
}

.btn {
  border: none;
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  font-size: 0.98rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: bold;
  color: hsl(0, 0%, 21%);
  margin-top: 20px;
  width: 250px;
  cursor: pointer;
}

.btn-free-trial:hover {
  opacity: 0.8;
}

.terms-text {
  font-size: 0.6rem;
  color: hsl(0, 0%, 75%);
  margin-top: 15px;
}

/* Sub Header Styling */

.sub-header {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  align-items: center;
  gap: 40px;
  background: linear-gradient(
    318.68deg,
    #0f495c 0%,
    #0d3640 49.72%,
    #08141f 100%
  );
  padding: 30px 40px;
}

.sub-header h3 {
  font-size: 1.5rem;
  font-weight: 300;
}

.sub-header .anchor-text {
  font-size: 0.7rem;
  color: #ccc;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}

.sub-header .btn-bundle {
  border: 2px solid #fff;
  background: none;
  color: #fff;
}

.sub-header > div:last-of-type {
  justify-self: end;
  align-self: end;
}

.sub-header > div:last-of-type .anchor-text {
  text-align: center;
  margin-top: 20px;
}

.sub-header .btn-bundle:hover {
  border-color: grey;
}

/* Category Content Styling */

.categories-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 90px 40px;
}

.large-text {
  font-size: 4.5rem;
  font-weight: bold;
}

.categories-content h3 {
  text-align: center;
  padding: 0 220px;
}

.categories-content .cover-images > div {
  height: 500px;
  width: 300px;
  position: relative;
}

.categories-content .cover-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.categories-content .cover-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.categories-content .cover-text {
  position: absolute;
  top: 20px;
  left: 20px;
}

.categories-content .cover-images .cover-subtitle {
  position: absolute;
  top: 45px;
  left: 20px;
  font-weight: 300;
  font-size: 1.5rem;
}

.categories-content .cover-images-1 {
  background: url(../images/cover-1.jpg) no-repeat center center / cover;
}

.categories-content .cover-images-2 {
  background: url(../images/cover-2.jpg) no-repeat center center / cover;
}

.categories-content .cover-images-3 {
  background: url(../images/cover-3.jpg) no-repeat center center / cover;
}

.categories-content .cover-images-4 {
  background: url(../images/cover-4.jpg) no-repeat center center / cover;
}

/* Container Live Section Styling */

.container {
  background: hsl(0, 3%, 7%);
  padding: 50px;
}

.container-border {
  border: 4px solid var(--header-color);
  border-radius: 20px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container .container-border h3 {
  text-align: center;
  padding: 0 80px;
}

.container .container-border .terms-text {
  padding-top: 25px;
}

.container .container-border a {
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-top: 25px;
  color: white;
}

/* Live Sports Section Styling */

.live-sports {
  background: url(../images/live-sports.jpg) no-repeat center center / cover;
  height: 100vh;
  position: relative;
  overflow-y: hidden;
}

.live-sports .live-sports-container {
  position: absolute;
  top: 100px;
  left: 100px;
}

.live-sports .live-sports-container h3 {
  max-width: 550px;
}

.live-sports .live-sports-container .live-sports-images {
  display: flex;
  margin-top: 40px;
  width: 300px;
  align-items: center;
  justify-content: space-between;
}

.live-sports-images > div {
  background: url(../images/network-logo-bg.png) no-repeat center center / cover;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.live-sports-images img {
  width: 40px;
}

/* Footer Styling */

.footer {
  background-color: hsl(0, 0%, 86%);
  padding: 50px 150px;
}

.footer .links-list {
  display: flex;
  justify-content: space-between;
}

.footer .links-list .list-title {
  text-transform: uppercase;
  font-size: 0.98rem;
  color: hsl(0, 2%, 12%);
  font-weight: bold;
}

.links-list ul li a {
  text-decoration: none;
  color: hsl(0, 1%, 18%);
}

/* Footer Social Networks Icons Styling */

.social-icons::before {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin: 30px 0;
  background-color: hsl(0, 2%, 12%);
  opacity: 0.2;
}

.social-icons .fab {
  color: hsl(0, 2%, 36%);
  font-size: 1.7rem;
  margin: 0 15px;
}

/* Log In Display Styling */

.login-display {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.login-box {
  margin: 10% auto;
  width: 400px;
  background: white;
  position: relative;
  animation: transformdisplay 0.5s;
}

@keyframes transformdisplay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.login-display .login-display-body {
  padding: 50px 50px 25px 50px;
}

.login-display .login-display-body > h3 {
  font-weight: bold;
  color: hsl(0, 2%, 15%);
  font-size: 1.8rem;
}

.login-display .form-display {
  color: hsl(0, 3%, 7%);
  margin: 20px 0;
}

.login-display .form-display > label {
  display: block;
  text-transform: uppercase;
}

.form-display > input {
  width: 100%;
  height: 45px;
  border: 2px solid hsl(0, 9%, 75%);
  border-radius: 5px;
}

.login-display-body .forgot-anchor {
  text-decoration: none;
  color: hsl(0, 0%, 14%);
}

.login-display-body .forgot-anchor:hover {
  color: hsl(0, 2%, 36%);
}

.login-display-body .btn-dark {
  background: #000;
  color: hsl(0, 100%, 98%);
  width: 100%;
}

.login-display-body .btn-dark:hover {
  opacity: 0.9;
}

.login-display-body .btn-dark:active {
  transform: scale(0.98);
  transition: 0.2s ease-out;
}

.login-display-footer {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  border-top: 1px transparent hsl(0, 2%, 36%);
  padding: 15px 30px;
}

.login-display-footer p {
  color: hsl(0, 0%, 52%);
}

.login-display-footer a {
  text-decoration: none;
  color: hsl(0, 0%, 14%);
}

.login-display-footer a:hover {
  color: hsl(0, 0%, 36%);
}

.login-box .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* Media Querries */

@media (max-width: 1100px) {
  .header .header-content {
    padding: 65px 40px;
    gap: 15px;
  }

  .categories-content .cover-images {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .header {
    height: 550px;
  }

  .header .logo {
    width: 200px;
  }

  .header .header-content {
    text-align: center;
    padding: 0 20px;
    gap: 15px;
  }

  .header .header-text-2 {
    display: none;
  }

  .sub-header {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }

  .sub-header > img {
    width: 70%;
    margin: auto;
  }

  .sub-header > div:last-of-type {
    justify-self: center;
    align-self: center;
    margin-top: 10px;
  }

  .categories-content .large-text {
    font-size: 2.5rem;
    padding: 0 20px;
    line-height: 1.3;
  }

  .categories-content h3 {
    padding: 0 5px;
    font-size: 1.2rem;
  }

  .categories-content .cover-images {
    grid-template-columns: 1fr;
  }

  .container .container-border {
    padding: 30px 10px;
  }

  .container .container-border .large-text {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .container .container-border h3 {
    font-size: 1.3rem;
    padding: 0;
  }

  .live-sports {
    background: url(../images/live-sports-small.jpg) no-repeat center center /
      cover;
  }

  .live-sports .live-sports-container {
    top: 200px;
    left: 50px;
  }

  .live-sports-container .large-text {
    font-size: 2.5rem;
  }

  .live-sports-container > h3 {
    font-size: 1.3rem;
  }

  .footer {
    padding: 20px 20px;
  }

  .footer .links-list {
    flex-direction: column;
  }

  .login-display .login-box {
    width: 300px;
  }
}

@media (max-width: 420px) {
  .live-sports .live-sports-container {
    top: 40px;
    left: 25px;
    right: 15px;
  }
}
